# Large local data archives excluded from GitHub commits.
/Advanced International Economics/Data for Changing Global Linkages A New Cold War.zip
/Advanced International Economics/presentation/Data for Changing Global Linkages A New Cold War.zip
/Advanced International Economics/presentation/Data for Changing Global Linkages A New Cold War/PPGT_JIE_replication.zip
/Advanced International Economics/presentation/Data for Changing Global Linkages A New Cold War/PPGT_JIE_replication/data/tmp6t.dta
/Advanced International Economics/presentation/Data for Changing Global Linkages A New Cold War/PPGT_JIE_replication/data/tmp6tp.dta
/Advanced International Economics/presentation/Data for Changing Global Linkages A New Cold War/PPGT_JIE_replication/working/TRADHIST_blocs.dta
/Advanced International Economics/presentation/Data for Changing Global Linkages A New Cold War/PPGT_JIE_replication/data/TRADHIST_v4.dta
/Advanced International Economics/presentation/Data for Changing Global Linkages A New Cold War/PPGT_JIE_replication/data/tmp4t.dta
/Advanced International Economics/presentation/Data for Changing Global Linkages A New Cold War/PPGT_JIE_replication/data/tmp4tp.dta
/Advanced International Economics/presentation/Data for Changing Global Linkages A New Cold War/PPGT_JIE_replication/data/tmp2t.dta
/Advanced International Economics/presentation/Data for Changing Global Linkages A New Cold War/PPGT_JIE_replication/data/qrtrly_for_fragmentation_updated.dta
/Advanced International Economics/presentation/Data for Changing Global Linkages A New Cold War/PPGT_JIE_replication/data/tmp2tp.dta
